cmake-build-*

*_err.txt
*_out.txt
*verbose*.txt
*compile*.txt
*_link_*.txt
make_*.txt
mc_cmd_*.txt
build_*.txt
gui_*.txt
teacher_*.txt
console_build_log.txt
abi_verbose.txt

*.rsp
*.rsp.txt
*_flags.make
*_includes*

app_console_*
app_gui_*

*.user
*.pro.user
*.qmlc
*.jsc

*.exe
*.dll
*.pdb
*.obj
*.o
*.a
*.lib

moc_*.txt
gpp_rsp_*.txt

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

.ninja_deps
.ninja_log

*.autosave
*.swp
